<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arkainfoteck.dabagalli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon,theme,label">
        <activity android:name=".activitys.AddToCart">

        </activity>
        <activity android:name=".activitys.Fasss"></activity>
        <activity android:name=".activitys.SaveData" />
        <activity android:name=".activitys.CustomerSupport" />
        <activity android:name=".activitys.Passwordchange" />
        <activity android:name=".activitys.Login" />
        <activity android:name=".activitys.DashBord" />
        <activity android:name=".activitys.FoodType" />
        <activity android:name=".activitys.Otp" />
        <activity android:name=".activitys.Registraction" />
        <activity android:name=".activitys.SplashActivity">

        </activity>
        <activity android:name=".activitys.ForgotPassword" />
        <activity android:name=".testing.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>